<section class="container">
  <p>
    <strong>Container App</strong>
  </p>
  <nav>
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/contratacao-parcelada">
          Contratação parcelada
        </a>
      </li>
      <li>
        <a href="/contratacao-avista">
          Contratação à vista
        </a>
      </li>
    </ul>
  </nav>
  <app-contratacao-parcelada *axLazyElement="url"></app-contratacao-parcelada>
  <shared-footer *axLazyElement="url"></shared-footer>
</section>
